<form [formGroup]="consultaForm" (submit)="salvar()">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Nome do paciente</label>
                <input type="text" class="form-control" placeholder="Informe o nome do paciente"
                    formControlName="NomePaciente" [(ngModel)]='model.Paciente'>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Data de nascimento</label>
                <input type="date" datetime="dd/MM/yyyy" class="form-control" formControlName="DataNascimento"
                    [ngModel]='model.DataNascimentoPaciente | date:"dd/MM/yyyy"'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>Inicio da consulta</label>
                <input type="datetime-local" class="form-control" formControlName="DataInicio"
                    [(ngModel)]='model.Inicio'>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Fim da consulta</label>
                <input type="datetime-local" class="form-control" formControlName="DataFim" [(ngModel)]='model.Fim'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <label for="obs">Observações:</label>
            <textarea id="obs" name="obs" rows="5" cols="100" formControlName="Observacoes"
                [(ngModel)]='model.Observacoes'></textarea>
        </div>
    </div>

    <div class="row justify-content-center botoes">
        <div class="col-1">
            <button [disabled]="consultaForm.invalid" type="submit" class="btn btn-success">Salvar</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary" (click)='voltar()'>Voltar</button>
        </div>
    </div>
</form>