<div class="row justify-content-start botoes">
    <div class="col-1">
        <button type="button" class="btn btn-success" (click)="incluir()">Incluir</button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-primary">Alterar</button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-danger">Excluir</button>
    </div>

    <div class="offset-4 col-4 input-group">
        <input type='text' class="form-control" placeholder='Pressione a tecla enter para buscar'
            (keyup)='filtro($event)' />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ngx-datatable class="material" [rows]="rows" columnMode="force" [headerHeight]="50" [footerHeight]="50"
            rowHeight="auto" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
            [limit]="page.size" (page)="setPage($event)" [selected]="selected" selectionType="single"
            (activate)="onActivate($event)" (select)="onSelect($event)">

            <ngx-datatable-column prop="paciente" name="Paciente"></ngx-datatable-column>
            <ngx-datatable-column prop="inicio" name="Inicio"></ngx-datatable-column>
            <ngx-datatable-column prop="fim" name="Fim"></ngx-datatable-column>
            <ngx-datatable-column prop="observacoes" name="Observações"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>