img {
  border: .1rem solid #ddd;
  border-radius: 4px;
  padding: .05rem;
  width: 3rem;
}

.row{
  color: aliceblue;
  background-color: #58a1ec;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

header{
  margin-bottom: .5rem;
}